version: "3.9"

services:
  backend:
    build: ./backend
    env_file:
      - .env
    container_name: fastapi-backend
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    env_file:
      - .env
    container_name: streamlit-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
